/* CSS Document */
body {	
	overflow-x: hidden;
}
.topo {
	padding: 15px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-default {
    background-color: #008C69;
    border: none;
	border-radius:0px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
	font-weight:800;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #00E6AC;
	font-weight:800;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #00C192;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

h1 {
	color: #00C092;
	font-size: 1.8em;
	font-weight: 800;
}
h2 {
	font-family: 'Oswald', sans-serif;
	color: #00674C;
}
.debate {
	background-color: #f9f9f9;
	padding: 20px;
}
.data {
	font-family: 'Play', sans-serif;
	font-size: 0.8em;
	color:#999999;
	text-align: right;
}
.boxH {
	color: #FFFFFF;
	background-color: #00C092;
	padding: 10px;
	font-family: 'Anton', sans-serif;
	font-weight: normal;
	margin-bottom: 0px;
	font-size: 1.3em;
}
.debate ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.debate li a {
	color: #00674C;
	list-style-type: none;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #00CC99;
    border-radius: 10px;
}


.footer {
	background-color: #008C69;
	color: #FFFFFF;
	padding: 20px;
	margin-top: 10px;
}
